
<h2><%= @text.name %></h2><br>
<%= @text.description %>
<br>
<br>
<br>
<%= link_to "Delete", text_path, class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "back", root_path, class: "btn btn-default" %>
