
<h2><%= @text.name %></h2><br>
<p><%= @text.description %></p>

<%= link_to "Delete", @text, class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "back", root_path, class: "btn btn-default" %>
